# 특정 파일 또는 디렉토리에 대한 자동 리뷰어 지정
 
# 백엔드 코드 리뷰어 자동 지정
; /backend/ @backend-team
 
# 프론트엔드 코드 리뷰어 자동 지정
; /frontend/ @frontend-team
 
# DevOps 담당자 자동 지정
; /config/ @devops-team
 
# 특정 파일 담당자 지정
; README.md @docs-team

/ @jbro321